/*Navbar and home page----------*/
.text_bungee {
    font-family: 'Bungee Inline', cursive;
    color:#ff5722 ;
}
.text_logo{
    font-family: 'Bungee Inline', cursive;
}

.text-header-nav{
    font-family: 'Bungee Inline', cursive;
    margin-left:5px;
}

.text_link{
    text-decoration: none;
    color:white;
}

.text_intro{
    margin-left:20px;
    margin-right:10px;
    margin-top:15px;
    font-size: 28px;
    color: white;
}

.intro_icon{
    font-size:50px;
    color: white;
    margin-bottom: 15px;
}

.container-intro{
    background: url('/static/img/salad.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*Recipes----------*/
.callout_text{
    margin-bottom:10px;
}

.bttn_search{
    margin-top: 15px;
}
/*Footer----------*/

.callout_text{
    margin-bottom:10px;
}

/*Media Queries----------*/

@media screen and (max-width: 700px) {
  .header_add {
    font-size:25px;
  }
  .text_intro{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    font-size: 20px;
  }
  .header_mob {
    font-size:25px;
  }
}

