{% extends 'base.html' %}
{% block content %}
    <h3>Add recipe</h3>
    <div class="row">
        <form action="{{url_for('insert_recipe')}}" method="POST">
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">poll</i>
                        <input type="text" class="validate" id="recipe_title" name="recipe_title" placeholder="Please provide the recipe name..." required="true">
                        <label for="recipename">Recipe Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">poll</i>
                        <select id="category_name" name="category_name" required>
                            <option value="" disabled selected>Choose Recipe Category</option>
                                {% for cat in categories %}
                                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                                {% endfor %}
                        </select>
                        <label>Recipe Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <textarea class="validate" id="recipe_description" name="recipe_description" rows="2" placeholder="Please provide a brief recipe description..." required="true"></textarea>
                        <label for="recipedescription">Recipe Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <textarea class="validate" id="recipe_callout" name="recipe_callout" rows="2" placeholder="Please provide a brief introduction of your recipe" required="true"></textarea>
                        <label for="recipedescription">Recipe Callout</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <textarea class="validate" id="recipe_ingredients" name="recipe_ingredients" rows="4" placeholder="Please provide the recipe ingredients as the example so that it is formated correctly: 3 Eggs/400g of sugar/" required="true"></textarea>
                        <label for="recipe_ingredients">Ingredients</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <textarea class="validate" id="recipe_prepare_method" name="recipe_prepare_method" rows="4" placeholder="Please provide the recipe cooking method as the example so that it can be separated in paragraphs : Put lightly salted water to boil/Let it heat for 10 minutes" required="true"></textarea>
                        <label for="recipe_method">Cooking Method</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <input type="number" class="validate" id="recipe_cooking_time" name="recipe_cooking_time" placeholder="Please provide the preparation time in minutes(Ex:120)" required="true">
                        <label for="recipetime">Preparation Time</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <input type="number" class="validate" id="recipe_serving" name="recipe_serving" placeholder="Please provide the number of people the recipe serves(Ex:5)" required="true">
                        <label for="recipeservings">Recipe servings</label>
                    </div>
                </div>
                <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
                    <i class="material-icons right">playlist_add</i>
                </button>
                </div>
            </div>
        </form>    
    </div>        


{% endblock %}