{% extends 'base.html' %}
{% block content %}
    <div class="row center grey lighten-2">  
        <p class = "intro-text">We are here to help people all around the world to connect and share their food adventures 
        with other food enthusiasts who are ready to try new and exciting recipes to cook for their friends and family.
        </p>
        <p class = "intro-text">
        <strong>What are you waiting for? Let's get cooking!</strong>
        </p>
    </div>   
    <div class ="row center">
        <h3>Contact Us</h3>
        <p>Hey there, want to contact us with any questions or doubts? Just send us a quick email</p>
        <p><small>If there are any changes to be made on a recipe you posted, please contact us with the name of the recipe so we can help you get it sorted.</small></p>
        <div class="row">
            <form onsubmit="return sendMail(this);" class="col s12" >
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="name" name="name" type="text" class="validate">
                        <label for="icon_prefix">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="emailaddress" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">comment</i>
                        <textarea id="recipeblogcontent" name="recipeblogcontent" class="materialize-textarea"></textarea>
                        <label for="textarea1">Write your message...</label>
                    </div>
                </div>
                    <div class="row center">
                        <button class="btn waves-effect waves-light grey darken-2" type="submit" name="action">Send Email
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
            </form>
        </div>
    </div>
{% endblock %} 