{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="row" >
        <h2>{{ recipe.recipe_title }} </h2>
        <hr>
        <p>{{ recipe.recipe_description }} </p>
    </div>
    <div class="row" >
        <h3>Ingredients </h3>
        <hr>
        <p>{{ recipe.recipe_ingredients }} </p>
    </div>
    <div class="row" >
        <h3>Cooking method</h3>
        <hr>
        <p>{{ recipe.recipe_prepare_method }} </p>
    </div>
    <div class="row" >
        <div class="col s12 m6">
            <p> {{ recipe.recipe_cooking_time }} Minutes </p>
        </div>
        <div class="col s12 m6">
        <p> {{ recipe.recipe_serving }} Portions </p>
        </div>
    </div>
    <div class="row" >
        <p>{{ recipe.is_vegan }}  {{ recipe.is_vegetarian }} {{ recipe.is_gluten_free }}</p>
    </div>


</div>
{% endblock %}

recipe_description
recipe_ingredients
recipe_prepare_method
recipe_cooking_time
recipe_serving
is_vegan
is_vegetarian
is_gluten_free