{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="row" >
            <h2 class="text_bungee header_mob">{{ recipe.recipe_title }} </h2>          
            <p>{{ recipe.recipe_description }} </p>
            <hr>
        </div>
        <div class="row" >
            <h3 class="text_bungee header_mob">Ingredients </h3>
            <hr>
            <ul>
            {% for ingredient in recipe_ingredients %} 
                <li>- {{ ingredient }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="row" >
            <h3 class="text_bungee header_mob">Cooking method</h3>
            <hr>
            {% for method in recipe_method %} 
                <p> {{ method }}</p>
            {% endfor %}
        </div>
        <hr>
        <div class="row" >
            <div class="col s12 m6">
                <p class="text_bungee">Cooking time: </p><span>{{ recipe.recipe_cooking_time }} Minutes</span>
            </div>
            <div class="col s12 m6">
            <p class="text_bungee"> Servings:  </p> <span>{{ recipe.recipe_serving }} Portions</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row center" >
        <h3 class="text_bungee header_mob">Reviews</h3>
    </div>
    <div class="row">
        <p class="center"><strong>Want to share your thoughts on the recipe or give any ideas to your fellow food ethusiasts?</strong></p>
        <form action="{{url_for('insert_review', recipe_id=recipe._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_id" name="recipe_id" type="hidden" value="{{recipe._id}}">
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="user_name" name="user_name" type="text" class="validate" required>
                    <label for="user_name">Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">comment</i>
                    <textarea id="user_review" name="user_review" class="materialize-textarea validate" required></textarea>
                    <label for="user_review">Write your review of the recipe...</label>
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light deep-orange" type="submit" name="action">Post Review
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        {% for review in reviews %}
            {% if review.recipe_id == recipe._id|string %} 
                <p> <strong>{{ review.user_name }}</strong></p>
                <p> {{ review.user_review }}</p>
                <hr>
            {% else %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
